.nav{
	margin-top:1.75rem;

		.nav-elements{
			@media screen and (min-width: 600px){
				display:flex;
			}

	 	.branding{
	 	     max-width: 200px;
	 	     margin: 0 auto;
	 	     @media screen and (min-width: 600px){
	 	     	  width: 30%;
	 	     	  margin: 0;
	 	     }
	 	}		

	    .navbar{
	    	margin:0;
	    	padding:0;
	    	line-height: 150%;
	    	list-style-type: none;
	    	width: 100%;
	    	@media screen and (min-width: 600px){
	 	     	    display: flex;
			    	justify-content: flex-end;
			    	align-content: flex-start;
			    	flex-wrap: wrap;
			    	margin:0 auto;
	 	     }
	    }

	    a{
	    	font-weight: $font-weight-bold;
	    	color: $color-background;
	    	text-decoration: none;
	    	padding: 0 1rem;
	    }	

	    a:hover{
	    	color: $yellow;	
	    }	
	}
}