@import url("https://fonts.googleapis.com/css?family=Raleway:300,600,700");
.header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("../images/backgrounds/DJI_0115.JPG");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("../images/backgrounds/DJI_0115.JPG");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav {
  margin-top: 1.75rem;
}
.nav .nav-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav .nav-elements .branding {
  max-width: 200px;
  width: 30%;
}
.nav .nav-elements .navbar {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 150%;
  list-style-type: none;
  width: 70%;
}
.nav .nav-elements a {
  font-weight: 600;
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}
.nav .nav-elements a:hover {
  color: #F3D350;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: black;
  background-color: white;
  font-family: Raleway, Helvetica, Arial, sans-serif;
  line-height: 160%;
  font-size: 1.8rem;
  font-weight: 300;
}

.container {
  width: 80%;
  mid-width: 1200px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: Raleway, Helvetica, Arial, sans-serif;
  color: #BFC406;
}

img {
  display: block;
  max-width: 100%;
}

a {
  font-weight: font-weight-heavy;
  color: #D14348;
}

a:hover, a:focus {
  text-decoration: none;
}

/*******************************
        PAGE STRUCTURE 
********************************/
